div.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 10vh 90vh;
}

header#main {
  grid-area: 1 / 1 / 1 / 3;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

main#main {
  grid-area: 2 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  overflow: auto;
}

aside#main {
  grid-area: 2 / 2 / 2 / 3;
}

main#main > nav {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
}

header#main > div > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

header#main > div > * {
  height: 100%;
}

header#main > div > nav#navigation {
  align-items: stretch;
  gap: 0.5vw;
}

header#main > div > nav#navigation > * {
  min-width: 3vw;
  aspect-ratio: 1/1;
}

header#main > div > nav#navigation > *:nth-last-child(1),
header#main > div > nav#navigation > *:nth-last-child(2) {
  aspect-ratio: unset;
}

section#feed {
  gap: 2vh;
  flex-direction: column;
}

section#feed > article {
  display: grid;
  gap: 0.5vh 1vw;
  grid-template-columns: 1fr 4fr 15fr;
  grid-template-rows: 5vh 10vh 5vh;
  padding: 1% 0.5%;
}

section#feed > article > img#tumbnail {
  width: 100%;
  height: 100%;
  grid-area: 1/2/4/3;
}

section#feed > article > h1#title {
  grid-area: 1/3/3/4;
}

section#feed > article > nav#action {
  grid-area: 3/3/4/4;
  display: flex;
  justify-content: start;
  gap: 1vw;
}
section#feed > article > nav#action > button {
  font-weight: bold;
  padding: 1%;
  background-color: transparent;
}
main#main > nav > button {
  gap: 7px;
}

main#main > section#feed > article > div#up {
  grid-area: 1 / 1 / 2 / 2;
}

main#main > section#feed > article > div#down {
  grid-area: 3 / 1 / 4 / 2;
}

main#main > section#feed > article > span#votes {
  font-weight: bolder;
  grid-area: 2/1/3/2;
}

main#main > section#feed > article > nav#action > button {
  gap: 7px;
}

i {
  font-size: large;
  line-height: 2px;
}
