<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <link rel="stylesheet" href="css/global.css" />
    <% if (typeof pageCss !== 'undefined') { %>
    <link rel="stylesheet" href="<%= pageCss %>.css" />
    <% } %>
  </head>
  <body class="back-white0"></body>
</html>
