<%- include("../inc/top.ejs") %>
<div class="container">
    <header id="main"></header>
    <main id="main"></main>
    <aside id="main"></aside>
    <!-- <footer></footer> -->
</div>

<%- include("../inc/bottom.ejs") %>
