<%- include("../inc/top.ejs") %>
<div class="container">
  <header id="main" class="border-2 back-white1 pad-1-1">
    <div>
      <h1 class="back-orange0 border-2" style="width: 10vw; font-size: x-large">
        Trident
      </h1>
    </div>
    <div>
      <input
        type="text"
        placeholder="Search Reddit"
        class="border-2 back-white2"
        id="searchbox"
        style="
          width: 30vw;
          padding-left: 10%;
          letter-spacing: 2px;
          font-size: medium;
        "
      />
    </div>
    <div style="width: 30vw">
      <nav id="navigation">
        <button class="flex-center btn-1 back-white2">
          <i class="fi fi-br-menu-burger"></i>
        </button>
        <button class="flex-center btn-1 back-white2">
          <i class="fi fi-br-bell"></i>
        </button>
        <button class="flex-center btn-1 back-white2">
          <i class="fi fi-br-comment"></i>
        </button>
        <button class="flex-center btn-1 back-orange0">
          <i class="fi fi-br-plus"></i>
        </button>
        <button class="flex-center btn-1 back-yellow0">GET COINS</button>
        <div id="username" class="btn-1 back-white2">Seji</div>
      </nav>
    </div>
  </header>
  <main id="main" class="border-2 pad-1-1">
    <nav class="flex-center border-3 shadow back-white2 pad-05-1">
      <button id="best" class="flex-center btn-1 back-black0 color-white2">
        <i class="fi fi-br-rocket color-white2"></i>Best
      </button>
      <button id="hot" class="flex-center btn-1 back-white2">
        <i class="fi fi-br-flame"></i>Hot
      </button>
      <button id="new" class="flex-center btn-1 back-white2">
        <i class="fi fi-br-hourglass-end"></i>New
      </button>
      <button id="top" class="flex-center btn-1 back-white2">
        <i class="fi fi-br-chart-line-up"></i>Top
      </button>
    </nav>
    <section id="feed" class="flex-center">
      <article class="border-3 shadow back-white2 flex-center">
        <div id="up"><i class="fi fi-br-up"></i></div>
        <span id="votes">19.9k</span>
        <div id="down"><i class="fi fi-br-down"></i></div>
        <div id="thumbnail" class="back-black0 border-3">
          <img src="/image/galexy.jpg" alt="" srcset="" />
        </div>
        <div id="title">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
            veritatis quasi doloribus ab ea reiciendis recusandae minus at vero
            inventore!
          </p>
        </div>
        <span
          id="author"
          class="color-orange1"
          style="align-self: flex-start; font-size: small"
          >ShowerThoughts</span
        >
        <nav id="action">
          <button class="flex-center" id="comment">
            <i class="fi fi-br-comment"></i>2.9k Comments
          </button>
          <button class="flex-center" id="award">
            <i class="fi fi-br-gift"></i>Award
          </button>
          <button class="flex-center" id="share">
            <i class="fi fi-br-share"></i>Share
          </button>
          <button class="flex-center" id="save">
            <i class="fi fi-br-bookmark"></i>Save
          </button>
          <button class="flex-center" id="more">
            <i class="fi fi-br-menu-dots-vertical"></i>
          </button>
        </nav>
      </article>

      <article class="border-3 shadow back-white2 flex-center">
        <div id="up"><i class="fi fi-br-up"></i></div>
        <span id="votes">39.4k</span>
        <div id="down"><i class="fi fi-br-down"></i></div>
        <div id="thumbnail" class="back-black0 border-3">
          <img src="/image/star.jpg" alt="" srcset="" />
        </div>
        <div id="title">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            voluptas odio fugit id perspiciatis amet voluptates at ea excepturi
            nobis?
          </p>
        </div>
        <span
          id="author"
          class="color-orange1"
          style="align-self: flex-start; font-size: small"
          >AskTrident</span
        >
        <nav id="action">
          <button class="flex-center" id="comment">
            <i class="fi fi-br-comment"></i>334 Comments
          </button>
          <button class="flex-center" id="award">
            <i class="fi fi-br-gift"></i>Award
          </button>
          <button class="flex-center" id="share">
            <i class="fi fi-br-share"></i>Share
          </button>
          <button class="flex-center" id="save">
            <i class="fi fi-br-bookmark"></i>Save
          </button>
          <button class="flex-center" id="more">
            <i class="fi fi-br-menu-dots-vertical"></i>
          </button>
        </nav>
      </article>

      <article class="border-3 shadow back-white2 flex-center">
        <div id="up"><i class="fi fi-br-up"></i></div>
        <span id="votes">376</span>
        <div id="down"><i class="fi fi-br-down"></i></div>
        <div id="thumbnail" class="flex-center back-black0 border-3">
          <img src="/image/circle.jpg" alt="" srcset="" />
        </div>
        <div id="title">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            molestias eius, repellendus porro sit accusantium odit quia quas
            maxime. Tenetur.
          </p>
        </div>
        <span
          id="author"
          class="color-orange1"
          style="align-self: flex-start; font-size: small"
          >intrestingasfuck</span
        >
        <nav id="action">
          <button class="flex-center" id="comment">
            <i class="fi fi-br-comment"></i>1.2k Comments
          </button>
          <button class="flex-center" id="award">
            <i class="fi fi-br-gift"></i>Award
          </button>
          <button class="flex-center" id="share">
            <i class="fi fi-br-share"></i>Share
          </button>
          <button class="flex-center" id="save">
            <i class="fi fi-br-bookmark"></i>Save
          </button>
          <button class="flex-center" id="more">
            <i class="fi fi-br-menu-dots-vertical"></i>
          </button>
        </nav>
      </article>
    </section>
  </main>
  <aside id="main" class="border-2 back-white1">
    <section id="growing" class="border-3 back-white2">
      <h1>Top Growing Communities</h1>
      <ol>
        <li>pics</li>
        <li>meir</li>
        <li>comics</li>
        <li>weird</li>
        <li>BeAmazed</li>
      </ol>
      <button
        class="btn border-3 pad-05-1"
        style="
          letter-spacing: 2px;
          font-weight: bold;
          background-color: transparent;
        "
      >
        View All
      </button>
    </section>
    <section class="border-3 back-white2">
      <h1>Trident Premium</h1>
      <p style="font-size: small">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex molestias
        magnam, cum voluptate repellat odit!
      </p>
      <button
        class="btn border-3 pad-05-1 back-orange0"
        style="letter-spacing: 2px; font-weight: bold"
      >
        Try Now
      </button>
    </section>
    <section class="back-white2 border-3">
      <h1>Home</h1>
      <p style="font-size: small">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ratione eligendi. Vero atque adipisci sit totam, quasi id itaque
        voluptatibus!
      </p>
      <button
        class="btn border-3 pad-05-1 back-black0 color-white2"
        style="letter-spacing: 2px; font-weight: bold"
      >
        Create Post
      </button>
      <button
        class="btn border-3 pad-05-1 back-white2"
        style="letter-spacing: 2px; font-weight: bold"
      >
        Create Community
      </button>
    </section>
  </aside>
  <!-- <footer></footer> -->
</div>

<%- include("../inc/bottom.ejs") %>
