<%- include("../inc/top.ejs") %>
<div class="container">
    <header id="main" class="border-2"></header>
    <main id="main" class="border-2">
        <nav class="border-2 shadow back-white1">
            <button>Best</button>
            <button>Hot</button>
            <button>New</button>
            <button>Top</button>
        </nav>
        <section id="feed">
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </main>
    <aside id="main" class="border-2"></aside>
    <!-- <footer></footer> -->
</div>

<%- include("../inc/bottom.ejs") %>
